html, body  {
    height: 100%;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #333333;
    display: flex;
    flex-direction: column;
}

h5 {
    font-family: 'Cabin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    font-family: 'Cabin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-shadow {
  box-shadow: 1px 1px 3px 0px #00000033;
}

.txt-shadow {
  text-shadow: 1px 1px 3px #00000025;
}

.content {
    flex: 1 0 auto;
  }
.footer {
    flex-shrink: 0;
}

small > a {
    color: #BC442E !important;
}

.borderline {
  border-top: 1px solid #512757 !important;
  padding-top: 2em;
}

@media only screen and (min-width : 768px) {
  .borderline {
    border-left: 1px solid #dee2e6 !important;
    border-top: 0 !important;
    padding-top: 0;
  }
}

.accordion > .card .card-header {
  background-color: #666666;
  color: #ffffff;
  text-shadow: 0px .5px 1.5px #333333;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 1rem;
}

.jumbotron-white {
  background-color: #ffffff;
}
.jumbotron-red {
  background-color: #994B3C;
  color: #ffffff;
}

nav {
  font-family: 'Cabin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a.nav-link, nav a.dropdown-item {
  color: #994B3C !important;
}

nav a.nav-link.active {
    text-decoration: underline;
}

nav a.dropdown-item.active {
  background-color: #994B3C;
  color: #ffffff !important;
}

nav a.dropdown-item:active {
  background-color: #85200C;
  color: #ffffff !important;
}

button:active, button:focus {
    outline: none !important;
    box-shadow: none !important;
}

main button {
    background-color: #994B3C !important;
    border-color: #994B3C !important;
}

.list-group-item.active {
  background-color: #994B3C !important;
  outline: none !important;
  border-color: #994B3C !important;
}
